{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}汽车销量分析系统-按顾客类型{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>按性别</h2>

<form id="byGender" method="post">
    <input type="hidden" name="by" value="gender">
    <nobr>
        <text>从</text>
        <select name="begin_year" id="begin_year" onchange="document.getElementById('byGender').submit();">
            {% for year in range(end_year-10, end_year+1) %}
                {% if year == session["bygender_begin_year"] %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="begin_year">年</label>
        <select name="begin_month" id="begin_month" onchange="document.getElementById('byGender').submit();">
            {% for month in range(1, 13) %}
                {% if month == session["bygender_begin_month"] %}
                    <option value="{{ month }}" selected>{{ month }}</option>
                {% else %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="begin_month">月</label>
        <text>到</text>
        <select name="end_year" id="end_year" onchange="document.getElementById('byGender').submit();">
            {% for year in range(session["bygender_begin_year"], end_year+1) %}
                {% if year == session["bygender_end_year"] %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="end_year">年</label>
        <select name="end_month" id="end_month" onchange="document.getElementById('byGender').submit();">
            {% for month in range(1, 13) %}
                {% if month == session["bygender_end_month"] %}
                    <option value="{{ month }}" selected>{{ month }}</option>
                {% else %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="end_month">月</label>
    </nobr>
</form>

<table border="1">
    <tr>
        <th>顾客性别</th>
        <th>销量/辆</th>
        <th>销售额/元</th>
    </tr>
    {% for row in result_bygender %}
        <tr>
            <td>{{ row.customer_gender }}</td>
            <td>{{ row.quantity }}</td>
            <td>{{ row.sales }}</td>
        </tr>
    {% endfor %}
</table>

<h2>按年收入</h2>

<form id="byIncome" method="post">
    <input type="hidden" name="by" value="income">
    <nobr>
        <text>从</text>
        <select name="begin_year" id="begin_year" onchange="document.getElementById('byIncome').submit();">
            {% for year in range(end_year-10, end_year+1) %}
                {% if year == session["byincome_begin_year"] %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="begin_year">年</label>
        <select name="begin_month" id="begin_month" onchange="document.getElementById('byIncome').submit();">
            {% for month in range(1, 13) %}
                {% if month == session["byincome_begin_month"] %}
                    <option value="{{ month }}" selected>{{ month }}</option>
                {% else %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="begin_month">月</label>
        <text>到</text>
        <select name="end_year" id="end_year" onchange="document.getElementById('byIncome').submit();">
            {% for year in range(session["byincome_begin_year"], end_year+1) %}
                {% if year == session["byincome_end_year"] %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="end_year">年</label>
        <select name="end_month" id="end_month" onchange="document.getElementById('byIncome').submit();">
            {% for month in range(1, 13) %}
                {% if month == session["byincome_end_month"] %}
                    <option value="{{ month }}" selected>{{ month }}</option>
                {% else %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="end_month">月</label>
    </nobr>
</form>

<table border="1">
    <tr>
        <th>顾客年收入/元</th>
        <th>销量/辆</th>
        <th>销售额/元</th>
    </tr>
    {% for row in result_byincome %}
        <tr>
            <td>{{ (row.customer_income_range-1)*10000}} ~ {{row.customer_income_range*10000-1 }}</td>
            <td>{{ row.quantity }}</td>
            <td>{{ row.sales }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}