{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='wide.css') }}">
{% endblock %}

{% block header %}
<h1>{% block title %}汽车销量分析系统-按经销商{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="myForm" method="post">
    <text>开始时间：</text>
    <nobr>
        <select name="begin_year" id="begin_year" onchange="document.getElementById('myForm').submit();">
            {% for year in range(end_year-10, end_year+1) %}
                {% if year == session["begin_year"] %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="begin_year">年</label>
        <select name="begin_month" id="begin_month" onchange="document.getElementById('myForm').submit();">
            {% for month in range(1, 13) %}
                {% if month == session["begin_month"] %}
                    <option value="{{ month }}" selected>{{ month }}</option>
                {% else %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="begin_month">月</label>
    </nobr>
    <text>结束时间：</text>
    <nobr>
        <select name="end_year" id="end_year" onchange="document.getElementById('myForm').submit();">
            {% for year in range(session["begin_year"], end_year+1) %}
                {% if year == session["end_year"] %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="end_year">年</label>

        <select name="end_month" id="end_month" onchange="document.getElementById('myForm').submit();">
            {% for month in range(1, 13) %}
                {% if month == session["end_month"] %}
                    <option value="{{ month }}" selected>{{ month }}</option>
                {% else %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="end_month">月</label>
    </nobr>

</form>

<table border="1">
    <tr>
        <th>DID</th>
        <th>经销商</th>
        <th>国家</th>
        <th>城市</th>
        <th>销量/辆</th>
        <th>销售额/元</th>
    </tr>
    {% for row in result %}
        <tr>
            <td>{{ row.did }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.country }}</td>
            <td>{{ row.city }}</td>
            <td>{{ row.quantity }}</td>
            <td>{{ row.sales }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}